<ul class="d-none d-lg-flex">
  <li routerLinkActive="active">
    <a routerLink="" class="btn">Home</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="flights" class="btn">Flights</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="hotels" class="btn">Hotels</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="holidays" class="btn">Holidays</a>
  </li>
  <li>
    <a href="https://blog.absa.co.za/blog" class="btn" rel="external">Blog</a>
  </li>
  <li>
    <a href="tel:18001052541" class="btn">1800 105 2541</a>
  </li>
</ul>