@import "~src/assets/css/variables.scss";

ul {
  justify-content: flex-end;
  margin         : 0;

  li {
    display       : flex;
    flex-direction: column;
    margin-left   : 10px;

    &:first-child {
      margin: 0;
    }

    .btn {
      padding       : 12px 18px;
      font-weight   : 700;
      font-size     : 12px;
      line-height   : 12px;
      text-transform: uppercase;
      color         : white;
      border        : 1px solid transparent;
      white-space   : nowrap;
    }

    &.active {
      .btn {
        border-color: rgba(220, 220, 255, 0.5);
      }
    }
  }
}